<!-- <div class="row">
    <div class="col-12 mb-10 p-20">
        <div class="card text-dark bg-light ">
            <div class="card-body">
                <div class="card-title">
                    <h2>Task Name </h2>
                </div>
                <div class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In quidem provident sunt? 
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-dark" style="width: 50%;"> Task finished </button>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="card text-dark bg-light">
  <div class="card-body">
    <div class="card-title">
      <ng-content select=".card-title"></ng-content>
    </div>
    <div class="card-text">
      <ng-content select=".card-text"></ng-content>
    </div>
    <div class="card-footer">
      <ng-content select=".card-footer"></ng-content>
    </div>
  </div>
</div>